video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

body {
  margin: 0px 0px;
}

.content {
  position: relative;
  top: 540px;
  letter-spacing: .02em;
  font-family: Mueller,sans-serif;
  font-size: 15px;
  line-height: 23px;
}

.title {
  padding: 0px 0px 10px 30px;
  color: white;
  background-color: transparent;
  width: 100%;

}
.main {
  display: flex;
  padding: 30px;
  background-color: white;
  margin: 0px;

}

.main p {
  width: 600px;
}

.locations {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.locations h2 {
  padding: 40px 0px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.services{
  background-color: white;
  margin: 0px;
  padding-bottom: 30px;
}

.services h2{
  font-size: 25px;
  text-align: center;
  padding: 50px 0px;
  margin: 0px auto;
}

.services p{
  line-height: 7px;
  text-align: center;
}

.quebec {
  font-size: 40px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("C:/Users/Raf_M/Documents/Coding-projects/Projets/HSSUSA/resources/quebec/quebec-sigil.png");
  background-position: center;
  background-repeat: no-repeat;
}

.quebec h3{
  padding: 100px 0px 60px 0px;
}

.quebec:hover {
  color: white;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-image: url("C:/Users/Raf_M/Documents/Coding-projects/Projets/HSSUSA/resources/collage-quebec11.jpg");
}

.quebec p{
  display: none;
}

.quebec:hover p{
  font-size: 20px;
  display: flex;
  align-content: space-between;
}

.ontario {
  font-size: 40px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("C:/Users/Raf_M/Documents/Coding-projects/Projets/HSSUSA/resources/ontario/ontario-flag.png");
  background-position: center;
  background-repeat: no-repeat;
}

.ontario h3{
  padding: 100px 0px 60px 0px;
}

.ontario:hover {
  color: white;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-image: url("C:/Users/Raf_M/Documents/Coding-projects/Projets/HSSUSA/resources/collage-ontario11.jpg");
}

.ontario p{
  display: none;
}

.ontario:hover p{
  font-size: 20px;
  display: flex;
  align-content: space-between;
}

.california h3{
  padding: 100px 0px 60px 0px;
}

.california {
  font-size: 40px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("C:/Users/Raf_M/Documents/Coding-projects/Projets/HSSUSA/resources/california/California-state.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.california p{
  display: none;
}

.california:hover {
  color: white;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-image: url("C:/Users/Raf_M/Documents/Coding-projects/Projets/HSSUSA/resources/collage-califormnia22511.jpg");
}

.california:hover p{
  font-size: 20px;
  display: flex;
  align-content: space-between;
}

.alberta h3{
  padding: 100px 0px 60px 0px;
}

.alberta {
  font-size: 40px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("C:/Users/Raf_M/Documents/Coding-projects/Projets/HSSUSA/resources/alberta/alberta-flag.jpg");
}

.alberta p{
  display: none;
}

.alberta:hover {
  color: white;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-image: url("C:/Users/Raf_M/Documents/Coding-projects/Projets/HSSUSA/resources/collage-alberta11.jpg");
}

.alberta:hover p{
  font-size: 20px;
  display: flex;
  align-content: space-between;
}

.footer {
  padding: 50px 0px;
  background-color: black;
  color: white;
  text-align: center;
}

.footer h3 {
  padding-bottom: 30px;
  font-size: 27px;
}

.footer a {
  color:white;
}

.footer a:visited {
  color: white;
}
